AddKeysToAgent yes
ForwardAgent yes
KeepAlive yes
UseKeychain yes

ServerAliveCountMax 1
ServerAliveInterval 5

# Host <alias>
# HostName <fully-qualified-hostname>
# ProxyCommand ssh <gateway> <command>
# ForwardAgent yes
# ForwardX11 yes
# ForwardX11Trusted yes
# XAuthLocation /opt/X11/bin/xauth

